    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html{
        font-size: 16px;
        width: 100%;
    }
    
        body{
        width: 100%;
        font-family: "Montserrat", sans-serif;
        }
    .header {
        display: grid;
        height: 100vh;
        max-width: 1440px;
        grid-template-rows: auto 1fr;
        width: 100%;
        background-color: #DBEDFC;
    }
    
    a {
        text-decoration: none;
    }
    
    .section_header_1{
        display: grid;
        grid-template-columns: 1fr 4fr;
        height: auto;
        width: 100%;
        align-items: center;
        padding: 2rem 5%;
    }
    /* навигация */
    .nav {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
        font-size: 1rem;
        width: 100%;
    }
    .link{
        text-align: center;
        margin: auto;
        color:  #585858;
        padding: auto;
    }
    .link_{
        text-align: center;
        margin: auto 20px;
        color:  #F68738;
        padding: 1rem;
    }

    /* второй секшн */
    .section_header_2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 2rem 5%;
        min-height: 100vh; /* Устанавливаем минимальную высоту в 100% от экрана */
        box-sizing: border-box;
        align-items: center; 
    }
    
    h1{
        font-size: 3rem;
        color: #303030;
        font-weight: bold;
    }
    .color{
        color: #47A7E3;
    }
    .color2{
        font-weight: bold;
        font-size: 1.125rem;
    }
    .text{
        color: #585858;
        margin: 1rem 0;
    }
    
    
    .banner_2 {
        background-image: url(../images/Ресурс\ 1\ 1.png); /* Путь к изображению */
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; /* Изображение не будет обрезаться, а адаптируется по размерам */
        width: 100%; /* Ширина 100% контейнера */
        height: auto;
        min-height: 50vh; /* Минимальная высота для изображений */
    }
    .tochki{
        padding-bottom: 50px;
    }
    .bth{
        width: 100%;
        max-width: 300px;
        padding: 1rem;
        border-radius: 25px;
        border: none;
        background-color: #FFA96B;
        color: white;
        font-weight: 600;
        cursor: pointer;
        margin-bottom: 100px;
    }
    