/* мейн */
.block-main {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    padding-bottom: 20px;
    margin-top: 3rem;
    }
    
    .subtitle{
        text-align: center;
        font-size: 2.5rem;
        color: #316594;
        margin-top: 3rem;
    }
    .list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding: 5%;
        width: 100%;
    }
    .item{
        width: 100%;
    }